[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
honcho = "*"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
uuid0 = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.8"
